<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<listeners>
<listener class-name="listener.TestngListeners" />
</listeners>
	<test name="Slack app validation">
		<classes>
			<class name="slackTestSuite.SlackAppValidationTest" />
		</classes>
	</test>
</suite> <!-- Suite -->
